@(param: Any)
<footer id="footer" class="footer-wrapper footer-2">
        <!-- Start footer top area -->
        <div class="footer-top-wrap ptb-70 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="zm-widget pr-20">
                            <h2 class="h6 zm-widget-title uppercase text-white mb-30">About Znews</h2>
                            <div class="zm-widget-content">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
                                <div class="zm-social-media zm-social-2">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="zm-widget pl-20 pr-40">
                            <h2 class="h6 zm-widget-title uppercase text-white mb-30">Social Links</h2>
                            <div class="zm-widget-content">
                                <div class="zm-category-widget zm-category-1">
                                    <ul>
                                        <li><a href="#">Business<span>22</span></a></li>
                                        <li><a href="#">Fashion<span>18</span></a></li>
                                        <li><a href="#">Sports<span>09</span></a></li>
                                        <li><a href="#">Technology<span>35</span></a></li>
                                        <li><a href="#">Entertainment<span>7</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="zm-widget">
                            <h2 class="h6 zm-widget-title uppercase text-white mb-30">Subscribe Newsletter</h2>
                            <!-- Start Subscribe From -->
                            <div class="zm-widget-content">
                                <div class="subscribe-form subscribe-footer">
                                    <p>Join 80,000+ awesome subscribers and update yourself with our exclusive news.</p>
                                    <form action="#">
                                        <input type="email" placeholder="Enter email address" required="">
                                        <input type="submit" value="Subscribe">
                                    </form>
                                </div>
                            </div>
                            <!-- End Subscribe From -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End footer top area -->
        <div class="footer-buttom bg-black ptb-15">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="zm-copyright text-center">
                            <p class="uppercase">&copy; 2016 Your Company. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>