@(menu: Seq[transfers.HeaderDTO])
<header class="header-area header-wrapper bg-white clearfix">
            <div class="header-top-bar bg-dark ptb-10">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7  hidden-xs">
                            <div class="header-top-left">
                                <nav class="header-top-menu zm-secondary-menu">
                                    <ul>
                                        <li><a href="home.html">Anasayfa</a></li>
                                        <li style="padding-left: 1px"><a href="yazarlar.html">Yazarlar</a></li>
                                        <li style="padding-left: 1px"><a href="hakkinda.html">Hakkımızda</a></li>
                                        <li style="padding-left: 1px"><a href="iletisim.html">İletişim</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                            <div class="header-top-right clierfix text-right">
                                <div class="header-social-bookmark topbar-sblock">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        <li><a href="#"><i class="fa fa-stack-overflow"></i></a></li>
                                        <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                                <!--EĞER SİTEDE TARİH GÖSTERMEK İSTERSEM KULLANIRIM BURDA DURSUN.<div class="zmaga-calendar topbar-sblock">
                                    <span class="calendar uppercase">Sunday, July 31, 2016 </span>
                                </div>-->
                                <!--Eğer kullanıcı girişi olacaksa kullanırım buda dursun.-->
                                <!-- <div class="user-accoint topbar-sblock">
                                    <span class="login-btn uppercase">Login</span>
                                    <div class="login-form-wrap bg-white">
                                        <form class="zm-signin-form text-left">
                                            <input type="text" class="zm-form-control username" placeholder="Username or Email">
                                            <input type="password" class="zm-form-control password" placeholder="Password">
                                            <input type="checkbox" value=" Remember Me" class="remember"> &nbsp;Remember Me<br>
                                            <div class="zm-submit-box clearfix  mt-20">
                                                <input type="submit" value="Login">
                                                <a href="registration.html">Register</a>
                                            </div>
                                            <a href="#" class="zm-forget">Forget username/password?</a>
                                            <div class="zm-login-social-box">
                                                <a href="#" class="social-btn bg-facebook block"><span class="btn_text"><i class="fa fa-facebook"></i>Login with Facebook</span></a>
                                                <a href="#" class="social-btn bg-twitter block"><span class="btn_text"><i class="fa fa-twitter"></i>Login with Twitter</span></a>
                                            </div>
                                        </form>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-5 col-xs-12 header-mdh">
                            <div class="global-table">
                                <div class="global-row">
                                    <div class="global-cell">
                                        <div class="logo">
                                            <a href="index.html">
                                                <img src="assets/frontend/blog/blogs/images/logo/1.png" alt="main logo">
                                            </a>
                                            <p class="site-desc">News blog & Magazine Template</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-7 col-sm-7 col-xs-12 col-lg-offset-1 header-mdh hidden-xs">
                            <div class="global-table">
                                <div class="global-row">
                                    <div class="global-cell">
                                        <div class="advertisement text-right">
                                            <a href="#" class="block"><img src="assets/frontend/blog/blogs/images/ad/1.jpg" alt="ad img"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom-area hidden-sm hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="menu-wrapper  bg-theme clearfix">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="mainmenu-area">
                                            <nav class="primary-menu uppercase">
                                                <ul class="clearfix">
                                                    <li class="current drop"><a href="/">Anasayfa</a>
                                                    @for(dto <- menu){
                                                    <li class="drop"><a href="#">@dto.Category.categoryName</a>
                                                        <ul class="dropdown">
                                                        	@for(subCategory <- dto.SubCategories) {
                                                        		<li><a href="blog-single-image.html">@subCategory.categoryName</a></li>
                                                        	}
                                                        </ul>
                                                    </li>
                                                    }
                                                    <li><a href="contact.html">Contact</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="search-wrap pull-right">
                                            <div class="search-btn"><i class="fa fa-search"></i></div>
                                            <div class="search-form">
                                                <form action="#">
                                                    <input type="search" placeholder="Search">
                                                    <button type="submit"><i class='fa fa-search'></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area start -->
            <div class="mobile-menu-area hidden-md hidden-lg">
                <div class="fluid-container">
                    <div class="mobile-menu clearfix">
                        <div class="search-wrap mobile-search">
                            <div class="mobile-search-btn"><i class="fa fa-search"></i></div>
                            <div class="mobile-search-form">
                                <form action="#">
                                    <input type="text" placeholder="Search">
                                    <button type="submit"><i class='fa fa-search'></i></button>
                                </form>
                            </div>
                        </div>
                        <nav id="mobile_dropdown">
                            <ul>
                                <li><a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index-3.html">Newspaper</a>
                                            <ul>
                                                <li><a href="index.html">Newspaper 1</a></li>
                                                <li><a href="index-3.html">Newspaper 2</a></li>
                                                <li><a href="index-7.html">Newspaper 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index-2.html">Magazine</a>
                                            <ul class="dropdown level2">
                                                <li><a href="index-2.html">Magazine 1</a></li>
                                                <li><a href="index-7.html">Magazine 2</a></li>
                                                <li><a href="index-10.html">Magazine 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index-4.html">Blogs</a>
                                            <ul class="dropdown level2">
                                                <li><a href="index-5.html">Blog demo 1</a></li>
                                                <li><a href="index-6.html">Blog demo 2</a></li>
                                                <li><a href="index-8.html">Blog demo 3</a></li>
                                                <li><a href="index-9.html">Blog demo 4</a></li>
                                                <li><a href="index-11.html">Blog demo 5</a></li>
                                                <li><a href="index-12.html">Blog demo 6</a></li>
                                                <li><a href="index-13.html">Blog demo 7</a></li>
                                                <li><a href="index-14.html">Blog demo 8</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index-15.html">Travel</a></li>
                                        <li><a href="index-16.html">Lifestyle</a></li>
                                        <li><a href="index-17.html">Sports</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog-single-image.html">Single Blog image 1</a></li>
                                        <li><a href="blog-single-image-2.html">Single Blog image 2</a></li>
                                        <li><a href="blog-single-video.html">Single Blog Video 1</a></li>
                                        <li><a href="blog-single-video-2.html">Single Blog Video 2</a></li>
                                        <li><a href="blog-single-audio.html">Single Blog Audio 1</a></li>
                                        <li><a href="blog-single-audio-2.html">Single Blog Audio 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog-single-image.html">Single Blog image 1</a></li>
                                                <li><a href="blog-single-image-2.html">Single Blog image 2</a></li>
                                                <li><a href="blog-single-video.html">Single Blog Video 1</a></li>
                                                <li><a href="blog-single-video-2.html">Single Blog Video 2</a></li>
                                                <li><a href="blog-single-audio.html">Single Blog Audio 1</a></li>
                                                <li><a href="blog-single-audio-2.html">Single Blog Audio 2</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="archive.html">Archive 1</a></li>
                                        <li><a href="archive-2.html">Archive 2</a></li>
                                        <li><a href="contact.html">Contact 1</a></li>
                                        <li><a href="contact-2.html">Contact 2</a></li>
                                        <li><a href="registration.html">Registration</a></li>
                                        <li><a href="404.html">Page Not found (404)</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop.html">Shop</a>
                                    <ul>
                                        <li><a href="shop.html">Shop</a></li>
                                        <li><a href="shop-details.html">Shop Details</a></li>
                                        <li><a href="cart.html">Cart page</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area end 
            <div class="breakingnews-wrapper hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <div class="breakingnews clearfix fix">
                                <div class="bn-title">
                                    <h6 class="uppercase">BREAKING NEWS</h6>
                                </div>
                                <div class="news-wrap">
                                    <ul class="bkn clearfix" id="bkn">
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. | Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. | Ut enim ad minim ut labre et dolore qui magna mini.</li>
                                        <li>Nilartstudio dolor amet, consectetur adipisicing elit. | Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. | Ut enim ad minim ut labre et dolore qui magna mini.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </header>