@(latest: Seq[entities.BlogET], trend: Seq[entities.BlogET], tags: Seq[String], category: Seq[(String, Int)])

@import views.DateExtension._

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 sidebar-warp columns">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 columns md-mt-40">
                <aside class="zm-post-lay-e-area">
                    <div class="row mb-40">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="zm-posts-tab-menu">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#latest_posts">Son Yazılar</a></li>
                                    <!--<li><a data-toggle="tab" href="#comments_posts">Yorumlar</a></li>-->
                                    <li><a data-toggle="tab" href="#trending_posts">Popüler Makaleler</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="zm-posts-tab-content tab-content">
                                <div id="latest_posts" class="zm-posts tab-pane fade in active">
                                
                                 @for(Blog <- latest){
                                    <article class="zm-post-lay-e zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="@Blog.blogUrl"><img src="@Blog.thumbImage" alt="@Blog.blogLabel"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <h2 class="zm-post-title"><a href="@Blog.blogUrl">@Blog.blogName</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author"><i class="fa fa-eye"></i>@Blog.clickCount</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">@Blog.date.toDateString</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                     }
                                </div>
                            
                                <!-- End Latest Posts 
                                <div id="comments_posts" class="zm-posts tab-pane fade">
                                    <!-- Start single post layout E 
                                    <article class="zm-post-lay-e zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="assets/frontend/blog/blogs/images/post/e/1.jpg" alt="img"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <h2 class="zm-post-title"><a href="blog-single-image.html">Magna aliqua ut enim ad minim veniam quis nostrud.</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    
                                </div>
                                 End Comments Posts -->
                                <!-- Start Trending Posts -->
                                <div id="trending_posts" class="zm-posts tab-pane fade">
                                    <!-- Start single post layout E -->
                                    @for(Blog <- trend){
                                    <article class="zm-post-lay-e zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="@Blog.blogUrl"><img src="@Blog.thumbImage" alt="@Blog.blogLabel"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <h2 class="zm-post-title"><a href="@Blog.blogUrl">@Blog.blogName</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author"><i class="fa fa-eye"></i>@Blog.clickCount</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">@Blog.date.toDateString</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    }
                                </div>
                                <!-- End Trending Posts -->
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 columns ">
                <!-- abone ol başlangıcı-->
                <div class="row mt-70">
                    <div class="col-md-12 col-sm-12 col-lg-12 sm-mt-60 columns">
                        <aside class="subscribe-form bg-dark text-center sidebar">
                            <h3 class="uppercase zm-post-title">Yenilikleri Öğren</h3>
                            <p>Join 80,000+ awesome subscribers and update yourself with our exclusive news.</p>
                            <form action="#">
                                <input placeholder="Enter your full name" type="text">
                                <input placeholder="Enter email address" required="" type="email">
                                <input value="Subscribe" type="submit">
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
            <!-- abone ol bitişi-->
            <aside class="zm-tagcloud-list col-xs-12 col-md-12 col-sm-12 col-lg-12 columns">
                <div class="row mt-70">
                    <div class="col-md-12 col-sm-12 col-lg-12 sm-mt-60 columns">
                        <div class="section-title">
                            <h2 class="h6 header-color inline-block uppercase">Tags</h2>
                        </div>
                    </div>
                </div>
                <div class="row mt-40">
                    <div class="col-md-12 col-sm-12 col-lg-12 sm-mt-60 columns">
                        <div class="zm-tagcloud">
                        @for(tag <- tags) {
                           <a href="/etiket/@tag">@tag</a>
                        }
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <!--row bitişi-->
        <div class="row mt-70 hidden-md">
            <div class="col-md-12  col-sm-12 col-lg-12 col-xs-12 columns xs-mt-40">
                <div class="row mb-40 sm-mt-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-title">
                            <h2 class="h6 header-color inline-block uppercase">Follow Us</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="followus-area small-columns">
                            <a href="#" class="social-btn large bg-instagram block"><span class="btn_text"><i class="fa fa-instagram"></i>336,784 Likes</span></a>
                            <a href="#" class="social-btn large bg-twitter block"><span class="btn_text"><i class="fa fa-twitter"></i>548,266 Followers</span></a>
                            <a href="#" class="social-btn large bg-github block"><span class="btn_text"><i class="fa fa-github"></i>755,629 Followers</span></a>
                            <a href="#" class="social-btn large bg-rss block"><span class="btn_text"><i class="fa fa-rss"></i>806,457 Subscribers</span></a>
                            <!--<a href="#" class="social-btn large bg-whatsapp block"><span class="btn_text"><i class="fa fa-whatsapp"></i>806,457 Subscribers</span></a>
                            <a href="#" class="social-btn large bg-stack-overflow block"><span class="btn_text"><i class="fa fa-stack-overflow"></i>806,457 Subscribers</span></a>-->
                        </div>
                    </div>
                    <div class="col-xs-12 mt-40 mb-40">
                        <div class="advertisement">
                            <a href="#"><img src="assets/frontend/blog/blogs/images/ad/ad_sidebar.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- End Follow Us area -->
            </div>
        </div>
        <div class="row mt-10 hidden-md">
            <div class="col-md-12  col-sm-12 col-lg-12 col-xs-12 columns xs-mt-40">
                <div class="row mb-40 sm-mt-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-title">
                            <h2 class="h6 header-color inline-block uppercase">Kategoriler</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group">
        @for(Category <- category){
            <button type="button" class="list-group-item">@Category._1<span class="badge">@Category._2</span></button>
            }
        </div>
        <div class="row mt-10 hidden-md">
            <div class="col-md-12  col-sm-12 col-lg-12 col-xs-12 columns xs-mt-40">
                <div class="row mb-40 sm-mt-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-title">
                            <h2 class="h6 header-color inline-block uppercase">Bana soru sor</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside class="subscribe-form text-center sidebar">
            <h3 class="uppercase zm-post-title">Soru sor</h3>
            <p>Proje ve sorunlarına yardımcı olabilmem için buradan bana hızlı bir şekilde soru sorabilirsin. :)
            Not: Konu başlığını belirtmeniz yeterli en geç 2 gün içinde geri dönüş yapıyorum.
            </p>
            <form role="form" method="POST" action="/question/insert">
           	    <input type="hidden" name="ID">
                <input name ="questionTitle" placeholder="Sorun nedir ? " type="text">
                <input name ="questionContent" placeholder="Email" type="text">
                <input value="SOR" type="submit">
            </form>
        </aside>
    </div>
