@afterScripts = {
<script src="@routes.Assets.versioned("frontend/blog/blogs/js/sidebar.js ")" type="text/javascript"></script>}@views.html.layout.main("artifidea.com") {
<div class="mb-40 col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="section-title">
        <h2 class="h6 header-color inline-block uppercase">Hakkımda</h2>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 columns">
    <div class="row">
        <div class="col-md-12">
            <div class="zm-post-header">
                <h2 class="zm-post-title h2">İbrahim Sarıkaya Kimdir ? </h2>
            </div>
            <div class="zm-post-content" style="word-wrap: break-word;">
                <p>
                    <big>Merhaba, ben İbrahim 18 yaşındayım kodlamaya dair herşeye aşırı ilgiliyim bu y&uuml;zden g&uuml;n&uuml;n
                        13-14 saatini bilgisayar başında ge&ccedil;irmekteyim ot gibi yaşıyorsun b&ouml;yle yaşanır mı ?
                        diyen arkadaşların seslerini duyar gibiyim :)) yazılım dillerini &ccedil;ok seviyorum şu sıralar&nbsp;
                        <code>scala</code> ve
                        <code> angular</code> ile &ccedil;alışmaktayım.&nbsp;</big>
                </p>

                <p>
                    <big>Bu bloğu a&ccedil;ma nedenime gelirsek insanlara yardım etmeyi,&uuml;retmeyi ve faydalı olmayı seven
                        biriyim bu y&uuml;zden bu bloğu a&ccedil;tım &ccedil;&uuml;nk&uuml; size makale yazdık&ccedil;a hem
                        siz &ouml;ğreneceksiniz hem de ben nasıl mı ? size birşeyler yazmam i&ccedil;in benim de s&uuml;rekli
                        araştırmalar yapmam gerekiyor yani bilmediğimiz bilgileri burada karşılıklı sizlerle beraber birlikte
                        &ouml;ğreneceğiz.</big>&nbsp;
                    <big>Bildiklerimi zaten size aktaracağım bunu bir tek ben değil herkes yapıyor ve sizlere uzun uzun yazılar
                        yerine direk bilgiyi vermeyi hedefleyeceğim&nbsp;yani sonu&ccedil; olarak bizim sizlerle bu blogdaki
                        amacımız kimsenin bilmediği bilgilere erişebilmek.</big>
                </p>
                <p>sosyal medya hesaplarımdan beni takip edebilirsiniz. <a href="https://github.com/isarikaya" target="a"><i class="fa fa-github"></i></a>
                    <a href="https://www.instagram.com/artifidea/?hl=tr" target="a"><i class="fa fa-instagram"></i></a>
                    <a href="https://twitter.com/artifidea1" target="a"><i class="fa fa-twitter"></i></a>
                </p>

                <p>ve
                    <a href="/iletisim" target="a">iletişim</a>&nbsp;tıklayarak benimle iletişim haline ge&ccedil;ebilirsiniz.</p>

            </div>
        </div>
    </div>
</div>
@renders.HtmlRender.sideBar()}(afterScripts)