@()
@afterScripts = { }@views.html.layout.main("blog baslik") {
    <div class="mb-40 col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="section-title">
            <h2 class="h6 header-color inline-block uppercase">SON Makale</h2>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 columns">
            <!-- Start trending post -->
            <div class="row">
                <div class="col-md-12">
                    <div class="zm-posts">
                        <!-- Start single post layout C -->
                        <article class="zm-post-lay-c zm-single-post clearfix">
                            <div class="zm-post-thumb f-left">
                                <a href="blog-single-image.html"><img src="assets/frontend/blog/blogs/images/post/c/6.jpg" alt="img"></a>
                            </div>
                            <div class="zm-post-dis f-right">
                                <div class="zm-post-header">
                                    <div class="zm-category"><a href="#" class="bg-cat-1 cat-btn">Travel</a></div>
                                    <h2 class="zm-post-title"><a href="blog-single-image.html">Magna aliqua ut enim ad minim veniam quis nostrud quis xercitation ullamco.</a></h2>
                                    <div class="zm-post-meta">
                                        <ul>
                                            <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                            <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                        </ul>
                                    </div>
                                    <div class="zm-post-content">
                                        <p>Amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="zm-post-lay-c zm-single-post clearfix">
                            <div class="zm-post-thumb f-left">
                                <a href="blog-single-image.html"><img src="assets/frontend/blog/blogs/images/post/c/6.jpg" alt="img"></a>
                            </div>
                            <div class="zm-post-dis f-right">
                                <div class="zm-post-header">
                                    <div class="zm-category"><a href="#" class="bg-cat-1 cat-btn">Travel</a></div>
                                    <h2 class="zm-post-title"><a href="blog-single-image.html">Magna aliqua ut enim ad minim veniam quis nostrud quis xercitation ullamco.</a></h2>
                                    <div class="zm-post-meta">
                                        <ul>
                                            <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                            <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                        </ul>
                                    </div>
                                    <div class="zm-post-content">
                                        <p>Amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="zm-post-lay-c zm-single-post clearfix">
                            <div class="zm-post-thumb f-left">
                                <a href="blog-single-image.html"><img src="assets/frontend/blog/blogs/images/post/c/6.jpg" alt="img"></a>
                            </div>
                            <div class="zm-post-dis f-right">
                                <div class="zm-post-header">
                                    <div class="zm-category"><a href="#" class="bg-cat-1 cat-btn">Travel</a></div>
                                    <h2 class="zm-post-title"><a href="blog-single-image.html">Magna aliqua ut enim ad minim veniam quis nostrud quis xercitation ullamco.</a></h2>
                                    <div class="zm-post-meta">
                                        <ul>
                                            <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                            <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                        </ul>
                                    </div>
                                    <div class="zm-post-content">
                                        <p>Amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="zm-post-lay-c zm-single-post clearfix">
                            <div class="zm-post-thumb f-left">
                                <a href="blog-single-image.html"><img src="assets/frontend/blog/blogs/images/post/c/6.jpg" alt="img"></a>
                            </div>
                            <div class="zm-post-dis f-right">
                                <div class="zm-post-header">
                                    <div class="zm-category"><a href="#" class="bg-cat-1 cat-btn">Travel</a></div>
                                    <h2 class="zm-post-title"><a href="blog-single-image.html">Magna aliqua ut enim ad minim veniam quis nostrud quis xercitation ullamco.</a></h2>
                                    <div class="zm-post-meta">
                                        <ul>
                                            <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                            <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                        </ul>
                                    </div>
                                    <div class="zm-post-content">
                                        <p>Amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- Start single post layout C -->
                        <!-- Start single post layout C -->
                        <article class="zm-post-lay-c zm-single-post clearfix">
                            <div class="zm-post-thumb f-left">
                                <a href="blog-single-image.html"><img src="assets/frontend/blog/blogs/images/post/c/6.jpg" alt="img"></a>
                            </div>
                            <div class="zm-post-dis f-right">
                                <div class="zm-post-header">
                                    <div class="zm-category"><a href="#" class="bg-cat-2 cat-btn">Business</a></div>
                                    <h2 class="zm-post-title"><a href="blog-single-image.html">Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit.</a></h2>
                                    <div class="zm-post-meta">
                                        <ul>
                                            <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                            <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                        </ul>
                                    </div>
                                    <div class="zm-post-content">
                                        <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- Start single post layout C -->
                        <!-- Start single post layout C -->
                        <article class="zm-post-lay-c zm-single-post clearfix">
                            <div class="zm-post-thumb f-left">
                                <a href="blog-single-image.html"><img src="assets/frontend/blog/blogs/images/post/c/6.jpg" alt="img"></a>
                            </div>
                            <div class="zm-post-dis f-right">
                                <div class="zm-post-header">
                                    <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">Entertainment</a></div>
                                    <h2 class="zm-post-title"><a href="blog-single-image.html">Minim veniam quis nostrud xercitation ullamco laboris nisi ut aliquip commodo.</a></h2>
                                    <div class="zm-post-meta">
                                        <ul>
                                            <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                            <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                        </ul>
                                    </div>
                                    <div class="zm-post-content">
                                        <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- Start single post layout C -->
                        <!-- Start Advertisement 
                        <div class="advertisement">
                            <div class="row mtb-40">
                                <div class="col-md-12 text-center">
                                    <a href="#"><img src="images\ad\3.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Advertisement -->
                        <!-- Start single post layout C -->
                        <article class="zm-post-lay-c zm-single-post clearfix">
                            <div class="zm-post-thumb f-left">
                                <a href="blog-single-image.html"><img src="assets/frontend/blog/blogs/images/post/c/6.jpg" alt="img"></a>
                            </div>
                            <div class="zm-post-dis f-right">
                                <div class="zm-post-header">
                                    <div class="zm-category"><a href="#" class="bg-cat-5 cat-btn">Food</a></div>
                                    <h2 class="zm-post-title"><a href="blog-single-image.html">Quis nostrud xercitation ullamco laboris nisi aliquip ex ea commodo consequat.</a></h2>
                                    <div class="zm-post-meta">
                                        <ul>
                                            <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                            <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                        </ul>
                                    </div>
                                    <div class="zm-post-content">
                                        <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- Start single post layout C -->
                        <!-- Start single post layout C -->
                        <article class="zm-post-lay-c zm-single-post clearfix">
                            <div class="zm-post-thumb f-left">
                                <a href="blog-single-image.html"><img src="assets/frontend/blog/blogs/images/post/c/6.jpg" alt="img"></a>
                            </div>
                            <div class="zm-post-dis f-right">
                                <div class="zm-post-header">
                                    <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Electronics</a></div>
                                    <h2 class="zm-post-title"><a href="blog-single-image.html">Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit.</a></h2>
                                    <div class="zm-post-meta">
                                        <ul>
                                            <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                            <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                        </ul>
                                    </div>
                                    <div class="zm-post-content">
                                        <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- Start single post layout C -->
                    </div>
                </div>
            </div>
        </div>
        @renders.HtmlRender.sideBar()
        @views.html.layout.partial.navBarr._pagination()
}(afterScripts)