@(article: transfers.ArticleCatDTO,tag: Seq[transfers.ArticleCatDTO],relateds: Seq[transfers.ArticleCatDTO], before : Option[entities.BlogET], after: Option[entities.BlogET])
@import views.DateExtension._
@afterScripts = { <script src="@routes.Assets.versioned("frontend/blog/blogs/js/sidebar.js")" type="text/javascript"></script>
<script type="text/javascript">
    SyntaxHighlighter.all()
</script>}@views.html.layout.main("Artifidea.com") {
    
    <div class="zm-section single-post-wrap bg-white ptb-20 xs-pt-30">
            <div class="container">
                <div class="row">
                    <!-- Start left side -->
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 columns">
                        <div class="row mb-5"></div>
                        <div class="row">
                            <!-- Start single post image formate-->
                            <div class="col-md-12">
                                <article class="zm-post-lay-single">
                                    <div class="zm-post-thumb"><img src="@article.Article.blogImage" alt="img"></a>
                                    </div>
                                    <div class="zm-post-dis">
                                        <div class="zm-post-header">
                                            <h2 class="zm-post-title h2"><a href="@article.Article.blogUrl">@article.Article.blogName</a></h2>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="@article.Article.blogUrl" class="zm-author"><i class="fa fa-eye"></i> @article.Article.clickCount</a></li>
                                                    <li class="s-meta"><a href="@article.Article.blogUrl" class="zm-date">@article.Article.date.toDateString</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="zm-post-content" style="word-wrap: break-word;">
                                                @Html(article.Article.blogArticle)
                                        </div>
                                        <div class="entry-meta-small clearfix ptb-10 mtb-40 border-top">
                                            <div class="meta-list pull-left">
                                                <span class="post-title">Etiketler</span> 
                                                @for(tags <-tag){
                                               <i class="fa fa-tags"></i> <a href="/tag/@tags.tagSlug">@tags.Tag</a>
                                            }
                                            </div>
                                            <div class="share-social-link pull-right">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                                <a href="#"><i class="fa fa-rss"></i></a>
                                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class=" ptb-40 mtb-10 border-top" id="disqus_thread">
                                    <script>
                                (function() {
                                var d = document, s = d.createElement('script');
                                s.src = 'https://artifidea.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                                })();
                                    </script>
                            </div>
                            <!-- End single post image formate -->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <nav class="zm-pagination ptb-40 mtb-10 text-center border-bottom border-top">
                                    <ul class="page-numbers clearfix">
                                        @if(before.isDefined) {
                                            @if(before.get.blogName.length >= 30){
                                                <li class="pull-left"><a class="prev page-numbers" href="@before.get.blogUrl">@before.get.blogName.substring(0,27)...</a></li>
                                            } else{
                                                <li class="pull-left"><a class="prev page-numbers" href="@before.get.blogUrl">@before.get.blogName</a></li>
                                            }
                                        }
                                        @if(after.isDefined) {
                                            @if(after.get.blogName.length >= 30){
                                                <li class="pull-right"><a class="next page-numbers" href="@after.get.blogUrl">@after.get.blogName.substring(0,27)...</a></li>
                                            } else{
                                                <li class="pull-right"><a class="prev page-numbers" href="@after.get.blogUrl">@after.get.blogName</a></li>
                                            }
                                        }
                                    </ul>
                                </nav>
                            </div>
                            <!--Start Similar post -->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <aside class="zm-post-lay-a2-area">
                                    <div class="post-title mb-40">
                                        <h2 class="h6 inline-block">İlginizi Çekebilecek Diğer Yazılarım</h2>
                                    </div>
                                    <div class="row">
                                        <div class="zm-posts clearfix">
                                            @for(related <- relateds) {
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                                        <article class="zm-post-lay-a2">
                                                            <div class="zm-post-thumb">
                                                                <a href="@related.Article.blogUrl"><img src="@related.Article.thumbImage" alt="img"></a>
                                                            </div>
                                                            <div class="zm-post-dis">
                                                                <div class="zm-post-header" style="word-wrap: break-word;">
                                                                    <h2 class="zm-post-title h2"><a href="@related.Article.blogUrl">@related.Article.blogName</a></h2>
                                                                    <div class="zm-post-meta">
                                                                        <ul>
                                                                            <li class="s-meta"><a class="zm-author"><i class="fa fa-eye"></i>@related.Article.clickCount</a></li>
                                                                            <li class="s-meta"><a class="zm-date">@related.Article.date.toDateString</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>
                                            }
                                        </div>
                                        
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    @renders.HtmlRender.sideBar()
                </div>
            </div>
        </div>
    </div>
}(afterScripts)